body{
background-color: #ddd;
font-family: 'helvetica Neue',sans-serif;
color: #444;
line-height: 1.5;
margin: 0 ;
padding: 2%;
display: flex;
}
main{
background-color: white;
width: 60%;
max-width: 800px;
margin: 0 auto;
padding: 2%;
border-radius: 8px;
}
h1,h2{
color: rgb(140,76,8);
}
section{
 margin-top: 0;   
 padding-bottom: 5px;
 border-top: solid 1px gray;
}
a{
  color: blue;  
}
a:hover{
    text-decoration: underline;
}